<head>
  <meta charset="UTF-8">
  <title>Video App</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Video App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Upload Video</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Video List</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>File Name</th>
      <th>Mime Type</th>
      <th>File Size</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of mediaFiles">
      <td>{{file.id}}</td>
      <td>{{file.fileName}}</td>
      <td>{{file.mimeType}}</td>
      <td>{{file.fileSize}}</td>
<!--      <td><a routerLink="/view/{{file.id}}">View</a></td>-->
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-lite.min.js"
        integrity="sha384-eu09HvOJhdfuMHtDmV7H1BYTmJ9X6DTLZzLpC6wYU6GdU/YQ2y6xhSMdH8loArv9"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
